# virtual envirnment
.venv

# security sensitive environment variables
.env
!.env.example  

# cache 
.mypy_cache
__pycache__
.pytest_cache
.vscode

# terraform artifacts
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
*tfplan*
terraform/zipped_lambda_code 